<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>信息录入</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/Content/css/mui-sass/sass/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/Content/css/gather.css"/>
		<link rel="stylesheet" type="text/css" href="/Content/css/daik/lCalendar.css"/>
		
		<link rel="stylesheet" type="text/css" href="/Scripts/ComPonent/layer_mobile/need/layer.css"/>
	</head>
	<body >
		<div id="app" v-bind:class="{loans:step==0}">
			
			
			<!--loading-->
			<div class="mui-backdrop" v-if="loadg">
				<div class="loadEffect">
			        <span></span>
			        <span></span>
			        <span></span>
			        <span></span>
			        <span></span>
			        <span></span>
			        <span></span>
			        <span></span>
			        <p class="xycenter" style="color: #fff;">Load...</p>
				</div>
			</div>
			
			
			
			<header class="mui-bar mui-bar-nav" v-show="step!=2&&step!=0">
			      <a class="mui-icon bleft" href="javascript:;">
			      	重庆市<i class="mui-icon icon-sjdw"></i>
			      </a>
			       <a href="javascript:;" class="mui-icon mui-pull-right ifx" v-show="step!=7">
			       		还有{{step}}步
			       </a>
			</header>
			
			<header class="mui-bar mui-bar-nav mui-clearfix" v-show="step==2" id="nav2">
			    <div class="tinput mui-col-sm-10 mui-col-xs-10 mui-pull-left mui-input-row">
			    	<!--<select id="ddlSearchType" class="select">
				        <option value="2">按小区</option>
				        <option value="1">按地址</option>
				    </select>-->
			    	<i class="befor"></i>
			    	<input type="text" placeholder="输入小区名称" id="txtSerch" class="mui-input-clear mui-input"/>
			    </div>
			    <a href="javascript:;" class="mui-col-sm-2 mui-col-xs-2 mui-pull-left btnsearh serach-btn">搜索</a>
			   
			</header>
			
			
			<!--欢迎页-->
			<nav class="mui-bar mui-bar-tab" v-if="step==7">
			    <a class="mui-tab-item" href="/Htmls/dkindex.html">
			        <span class="mui-icon icon-home"></span>
			        <span class="mui-tab-label">首页</span>
			    </a>
			    <!--<a class="mui-tab-item" href="/Htmls/information.html">
			        <span class="mui-icon icon-infor"></span>
			        <span class="mui-tab-label">消息</span>
			    </a>-->
			    <a class="mui-tab-item">
			        <span class="mui-icon icon-gpw"></span>
			        <span class="mui-tab-label">公评网</span>
			    </a>
			    <a class="mui-tab-item" href="/Htmls/myinfor.html">
			        <span class="mui-icon icon-myd"></span>
			        <span class="mui-tab-label">我的</span>
			    </a>
			</nav>
			
			


			<div class="mui-content" >
				
				<!--//搜索列表-->
			   <!--<div class="serach-result" id="dataList"></div>-->
				
				
				<h1 class="title" v-show="step!=2&&step!=0">新办按揭</h1>
				
				<!--<h1 class="title" v-show="">推荐贷款</h1>-->
			    <div class="infor">
			    	
			    	
			    	<div class="page0" v-show="step==7">
			    		<h1>欢迎！</h1>
			    		<p class="p1">嗨，我是   公评R  抵押贷款顾问</p>
			    		<p class="p2">在了解一些细节之后，我们可以清楚地知道<br />你的抵押贷款是什么样子的。</p>
			    		<p class="p3">这将需要需要不到2分钟，并没有信用检查要求</p>
			    		<p class="p4">哦！是的，最重要的是，它是免费的！</p>
			    	</div>
			    	
			    	<div class="page1" v-show="step==6">
			    		<div class="apg quer1">
				    		<h3>主借人</h3>
				    		<p>您是自己申请？还是与某人一起申请？</p>
				    		
				    		<label class="mui-btn " >我自己<input type="radio"   v-model="dblist.ApplyType"  value="1"></label>
				    		<label class="mui-btn " >我家人<input type="radio"   v-model="dblist.ApplyType" value="2"></label>
				    		<!--<p>已选：{{dblist.myfli}}</p>-->
				    	</div>
				    	
				    	<div class="apg quer2">
				    		<h3>我们认贷不认房</h3>
				    		<p>您（们）名下有无个人住房贷款记录？</p>
				    		<label class="mui-btn " >没有<input type="radio"   v-model="dblist.LoanCount"  value="0"></label>
				    		<label class="mui-btn " >有一套<input type="radio"   v-model="dblist.LoanCount"  value="1"></label>
				    		<label class="mui-btn " >有二套以上<input type="radio"   v-model="dblist.LoanCount"  value="2"></label>
				    	</div>
			    	</div>
			    	
			    	<div class="page2" v-show="step==5">
			    		
			    		<div class="apg quer3" v-show="dblist.LoanCount==0">
				    		<h3>你是“首次购房”客户</h3>
				    		<p>你有无公积金缴存?</p>
				    		<label class="mui-btn " >有<input type="radio"   v-model="dblist.PublicAccmFunds"  value="1"></label>
				    		<label class="mui-btn " >没有<input type="radio"   v-model="dblist.PublicAccmFunds"  value="0"></label>
				    		<p class="dmx">接下来我们看你需要通过你的家庭收入来计算你能
								贷款多少,以及每月的费用，这个很重要。
								</p>
				    	</div>
				    	<!--settle-->
				    	<!--fjih-------------------------UncleanCount??------------------------------>
				    	<div class="apg quer4" v-show="dblist.LoanCount==1||dblist.LoanCount==2">
				    		<h3>你是“二套房”客户</h3>
				    		<p>你有几套房贷没有结清?</p>
				    		<label class="mui-btn " >已结清<input type="radio"   v-model="dblist.UncleanCount"  value="0"></label>
				    		<label class="mui-btn " >有1套未结清<input type="radio"   v-model="dblist.UncleanCount"  value="1"></label>
				    		<label class="mui-btn " >有2套及以上未结清<input type="radio"   v-model="dblist.UncleanCount"  value="2"></label>
				    		<p class="dmx">接下来我们看你需要通过你的家庭收入来计算你能
								贷款多少,以及每月的费用，这个很重要。
							</p>
				    	</div>
			    	</div>
			    	
			    	<div class="page3 " v-show="step==4">
			    		<h3 class="title">贷款人在您能贷款多少时，还要考虑您的其他贷款和信贷情况</h3>
			    		<h3>你有每月还款的贷款吗？</h3>
			    		<p>包括任何贷款，雇佣消费，汽车消费，学生贷款等，如果没有请输入0。</p>
			    		<div class="put">
			    			<input type="number" v-model="dblist.MonthlyPayment" placeholder="输入每月的全部还款金额" /><i></i>
			    		</div>
			    		<h3>您有一项不良信用贷记录吗？</h3>
			    		<p>1.  近2年内贷款逾期连续期数不超过2次，累计逾期 贷款数不超过4次？</p>
			    		<p>2.  近1年内银行用卡累计逾期次数不超过4次？</p>
			    		<div class="ynbt yb1">
			    			<label class="mui-btn " >没有<input type="radio"   v-model="dblist.PoorLoanCount"  value="0"></label>
			    			<label class="mui-btn " >不超2次<input type="radio"   v-model="dblist.PoorLoanCount"  value="1"></label>
			    			<label class="mui-btn " >不超4次<input type="radio"   v-model="dblist.PoorLoanCount"  value="2"></label>
			    		</div>
			    	</div>
			    	
			    	<div class="page4 " v-show="step==3">
			    		<h3>您（们）能贷多少钱取决于您（们）的收入及可用的购房存款。</h3>
			    		<p>请输入您（们）的税前月收入</p>
			    		<div class="put">
			    			<input type="number" v-model="dblist.MonthlyIncome" placeholder="请输入税前月收入" /><i></i>
			    		</div>
			    		<p>您（们）现有的存款，以及其他可立即变现的资产，请输入预计可用于首付的金额。</p>
			    		<div class="put">
			    			<input type="number" v-model="dblist.AvailableDeposit" placeholder="请输入预计首付款" /><i></i>
			    		</div>
			    		<p>您（们）有意向购入的房产吗？</p>
			    		<div class="ynbt yb2">
			    			<label class="mui-btn " >有<input type="radio"   v-model="dblist.BuyIntention"  value="true"></label>
			    			<label class="mui-btn " >没有<input type="radio"   v-model="dblist.BuyIntention"  value="false"></label>
			    		</div>
			    	</div>
			    	
			    	
			    	<div class="page5" v-show="step==2">
				    	<ul class="mui-table-view">
						    <li class="mui-table-view-cell must">
						        <div class="mui-navigate-right">
						        	<!--<span class="lstright" v-model="dblist.PropertyName">{{dblist.PropertyName}}</span>-->
						        	<span class="lstleft">小区名称：</span>
						        	<!--<input type="text" class="putright proName" v-model="dblist.PropertyName" placeholder="加州花园"/> span lstright-->
						        	<span class="lstright proName"></span>
						        	<!--<input class="putright proName" type="text" v-model="dblist.PropertyName" placeholder="">-->
						        </div>
						    </li>
						    <li class="mui-table-view-cell must">
						        <div class="stxt">
						        	<span class="lstleft">楼栋/单元：</span><input type="text" class="putright" v-model="dblist.BuildName" placeholder="请输入楼栋或者单元"/>
						        </div>
						    </li>
						    <li class="mui-table-view-cell must">
						        <div class="stxt">
						        	<span class="lstleft">房  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</span><input type="number" v-model="dblist.RoomName" class="putright" placeholder="请输入房号"/>
						        </div>
						    </li>
						    <li class="mui-table-view-cell must">
						        <div class="stxt">
						        	<span class="lstleft">建 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面：</span>
						        	<input type="number" class="putright"  placeholder="请输入房屋建筑面积" v-model="dblist.BuildArea"/><span class="pull-right">㎡</span>
						        </div>
						    </li>
						     <li class="mui-table-view-cell must">
						        <div class="mui-navigate-right">
						        	<!--<span v-model="dblist.RoomStructureType" class="lstright">{{dblist.RoomStructureType}}</span>-->
						        	<span class="lstleft">户 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</span>
						        	<input v-model="dblist.RoomStructureType" id="date2" class="date-input lstright" data-lcalendar="1-1-1,10-10-10" readonly="readonly" placeholder="3室2厅2卫">
						        </div>
						    </li>
						    <li class="mui-table-view-cell must">
						        <div class="mui-navigate-right">
						        	<!--<span class="lstleft">朝 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;向：</span><span v-model="dblist.PropertyFace" class="lstright">{{dblist.PropertyFace}}</span>-->
						        	
						        	<!--<select v-model='type' @change='changeType' class='form-control'>  
									     <option value='radio'>单选</option><option value='checkbox'>多选</option>  
									</select>  -->
						        	
						        	<span class="lstleft">朝 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;向：</span>
						        	<div class="lstright selt">
						        		<select v-model="dblist.PropertyFace">
											<option value="东"></option>
											<option value="西">西</option>
											<option value="南">南</option>
											<option value="北">北</option>
											<option value="东北">东北</option>
											<option value="东南">东南</option>
											<option value="西南">西南</option>
											<option value="西北">西北</option>
											<option value="" selected="selected">南北</option>
											<option value="东西">东西</option>
									</select>
						        	</div>
						        </div>
						    </li>
						    <li class="mui-table-view-cell must ">
						        <div class="stxt col3">
						        	<span class="lstleft">楼 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;层：</span>
						        	<span class="lstcenter"><input type="number" placeholder="所在楼" v-model="dblist.FloorNumber" />层</span>
						        	<span class="lstright"><input type="number" placeholder="总楼层" v-model="dblist.FloorTotal"/>总层数</span>
						        </div>
						    </li>
						   
						    <li class="mui-table-view-cell must">
						        <div class="stxt">
						        	<!--HasElevator-->
						        	<span class="lstleft">有无电梯：</span>
						        	<div class="lstright swhbtn">
						        		<label >有<input type="radio"   v-model="dblist.HasElevator"  value="true"></label>
						        		<label >没有<input type="radio"   v-model="dblist.HasElevator"  value="false"></label>
						        	</div>
						        </div>
						    </li>
						     <li class="mui-table-view-cell must">
						        <div class="stxt">
						        	<span class="lstleft" >建筑年代：</span>
						        	<input type="number" class="putright" placeholder="2017" v-model="dblist.BuildingTime"/><span class="pull-right">年</span>
						        </div>
						    </li>
						    <li class="opt"><p>以下为选填项：信息越完善，估价越精确</p></li>
						    
						    <li class="mui-table-view-cell ">
						        <div class="mui-navigate-right">
						        	<!--<span class="lstright" v-model="dblist.BuildingType">{{dblist.BuildingType}}</span>-->
						        	<span class="lstleft">建筑类型：</span>
						        	<div class="lstright selt">
						        	<select v-model="dblist.BuildingType">
										<option value="塔楼">塔楼</option>
										<option value="" selected="selected">板塔结合</option>
										<option value="平房">平房</option>
									</select>
									</div>
						        </div>
						    </li>
						    
						    <li class="mui-table-view-cell ">  
						        <div class="mui-navigate-right">
						        	<!--<span v-model="dblist.LandScape" class="lstright"></span>-->
						        	<span class="lstleft">景 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;观</span>
						        	<div class="lstright selt">
						        		<select v-model="dblist.LandScape" >
							        		<option value="中庭">中庭</option>
							        		<option value="绿化">绿化</option>
							        		<option value="公园">公园</option>
							        		<option value="海景">海景</option>
							        		<option value="湖景">湖景</option>
							        		<option value="江景">江景</option>
							        		<option value="山景">山景</option>
							        		<option value="街景">街景</option>
							        		<option value="主干道">主干道</option>
							        		<option value="" selected="selected">快速干道</option>
							        		<option value="高架桥">高架桥</option>
							        		<option value="支路">支路</option>
							        		<option value="铁轨">铁轨</option>
							        		<option value="采光井">采光井</option>
							        		<option value="堡坎">堡坎</option>
						        		</select>
						        	</div>
						        	
						        </div>
						    </li>
						    <li class="mui-table-view-cell ">
						        <div class="stxt">
						        	<span class="lstleft">装修年代：     </span>
						        	<input type="number" class="putright" placeholder="2018" v-model="dblist.DecorateTime"/><span class="pull-right">年</span>
						        </div>
						    </li>
						</ul>
				    </div>
				    
				    <div class="page6" v-show="step==1">
			    		<h3 class="title">最后我们需要一些个人信息，方便联系到您</h3>
			    		<h3>您叫什么名字？</h3>
			    		<div class="gput">
			    			<input type="text" placeholder="请输入您的名字，方便我们联系到您" v-model="dblist.UserName"/>
			    		</div>
			    		<h3>联系您的手机号码？</h3>
			    		<p>我们绝不会将您的号码透露给三方机构</p>
			    		<div class="gput">
			    			<input type="number" placeholder="请输入您的手机号码" maxlength="11" v-model="dblist.Mobile" />
			    		</div>
			    		<div class="gput">
			    			<input type="number" placeholder="请输入验证码" v-model="dblist.Vercode"/>
			    			<span class="xzm">发送验证码</span>
			    		</div>
			    		<h3>您的生日是什么时候？</h3>
			    		<p>我们需要通过您的生日来判定您的抵押贷款期限</p>
			    		<div class="gput">
			    			<!--data-lcalendar="1918-1-1"-->
			    			<input type="text" class="date-input" placeholder="请选择生日" id="date1"  readonly="readonly" v-model="dblist.Birthday"/>
			    		</div>
			    		<p>点击"下一步"接受我们的《使用条款》和《隐私政策》</p>
			    	</div>
			    	
			    	<div class="page7" v-show="step==0">
			    		
						<template v-if="resume != null">
						<!--resume.Data.QueryStatus==false-->
			    			<!--不能贷款-->
				 		<div class="pageno mui-hidden" v-if="resume.Data.QueryStatus==false">
				 			<div class="apg">
					    		<img src="/Images/daik/notloanst.png"/>
					    		<h3>很遗憾！您目前不能办理按揭贷款</h3>
					    		<p>你有二套按揭贷款<br />你个人征信有问题，不符合按揭条件</p>
					    		<h4>是否需要其他贷款机构（人）主动联系您，为您提供服务</h4>
					    		<div class="put">
					    			<button class="mui-btn on" >需要</button>
					    			<button class="mui-btn" >不需要</button>
					    		</div>
					    	</div>
				 		</div>
				 		
				 		<!--可以贷款-->
				 		<div class="pageyes" v-if="resume.Data.QueryStatus==true">
				 			<div class="apg">
					    		<img src="/Images/daik/yesloanst.png"/>
					    		<h3 class="title">恭喜您，找到适合您贷款银行</h3>
					    		
					    		<div class="calres">
					    			<ul class="mui-table-view">
					    				<!--<li v-for=" in">
					    					
					    				</li>
					    				<template v-for="item in resume">
					    					
					    				</template>-->
					    			    <li class="mui-table-view-cell mui-media">
					    			        <!--<a href="javascript:;">-->
					    			            <img class="mui-media-object mui-pull-left" src="/Images/daik/tjdkjimg1.png">
					    			            <div class="mui-media-body">
					    			                <h3>预计可贷 ￥{{resume.Data.Products[0].AppraisalBudget}}</h3>
					    			                <p>贷款期限最长：<span>{{resume.Data.Products[0].AppraisalYearLimit}}年</span></p>
					    			                <p>月供最低：<span>{{resume.Data.Products[0].AppraisalMonthPayment}}</span>元</p>
					    			                <p class="mui-ellipsis">贷款费<span>{{resume.Data.Products[0].Commission}}</span>元（按揭+评估服务费）</p><!---->
					    			                <button class="mui-btn mui-btn-blue shed" v-on:click="applyLoan">立即申请</button>
					    			            </div>
					    			        <!--</a>-->
					    			    </li>
					    			</ul>
					    		</div>
					    	</div>
				 		</div>
				 		
				 		</template>
				 		
				 		
			    	</div>
			    	
			    </div>
			    
			    <div class="pace">
			    	<button class="mui-btn" v-if="step>=7">返回</button>
			    	
			    	<button class="mui-btn" v-if="step!=0&&step!=7" v-else v-on:click="last()">上一步</button>
			    	
			    	<button class="mui-btn on" v-on:click="next()" v-if="step!=2&&step!=0">下一步</button>
			    	<button class="mui-btn on" v-on:click="next()" v-if="step==2&&step!=0">还差1步</button>
			    </div>
			    
			</div>
			
		</div>
		<!--append-->
		
<!--		
		<div id="searus">
			
		</div>-->
		
		
		
		@@include('module/linkjs.html')
		
		<script src="/Scripts/base/PackagingFunction.js" ></script>
  		<script src="/Scripts/base/VarGlobal.js" ></script>
  		
  		<script src="/Scripts/ComPonent/jquery-1.8.3.min.js"></script>
  		<script src="/Scripts/ComPonent/lCalendar.js"></script>
  		<script src="/Scripts/ComPonent/lCalendar2.js"></script>
  		<script src="/Scripts/ComPonent/layer_mobile/layer.js"/></script>
  		<!--<script src="/Scripts/ComPonent/validate.min.js"></script>-->
  		
  		
		<script src="/Scripts/gather.js"></script>
		
		<!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	</body>
</html>
