<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我申请的贷款记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/Content/css/mui-sass/sass/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/Content/css/recorddaik.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon bleft" href="javascript:;">
					<i class="mui-icon mui-icon-arrowleft"></i>返回
				</a>
				<div class="obtn xycenter">
					<ul class="tab">
						<!--<li class="on td">全部</li>-->
						<li class="td on" @click="tbl()">待审核</li>
						<li class="td" @click="tbl()">已审核</li>
					</ul>
				</div>
			</header>

			<div class="mui-content">
				<div class="infor" v-if="resume != null">
					
					<!--<template v-for="(item,index) in resume.Data">-->
					<!--{{item}}v-bind:class="active:index==0"   -->
					<!--10-待预审；20-已预审；21-预审未通过；30-按揭中；40-按揭已完结；50-银行已办结；-->
						<template v-for="(item,index) in resume.Data">
							
						
					<ul class="wul tb " v-bind:class="{active:index==0}" >
						<!--<template v-for="item in resume.Data">-->
						<li>
							<ul class="oul">
								<li>{{item.PropertyName}}</li>
								<li>建筑面积：{{item.BuildArea}}㎡</li>
								<li>申请时间：{{item.AppraisalTime}}</li>
							</ul>
							<div class="status" v-bind:class="{down:item.Status==20}">
								<template v-if="item.Status==10">待预审</template>
								<template v-if="item.Status==20">已预审<i class="mui-icon mui-icon-arrowdown"></i></template>
								<template v-if="item.Status==30">按揭中</template>
								<template v-if="item.Status==40">按揭已完结</template>
								<template v-if="item.Status==21">预审未通过</template>
								<template v-if="item.Status==50">银行已办结</template>
							</div>

							<div class="yetres" v-show="item.Status==20">
								<ul class="td mui-row">
									<li class="mui-pull-left mui-col-sm-5 mui-col-xs-12"><span>预审银行：</span>{{item.BankName}}</li>
									<li class="mui-pull-right mui-col-sm-7 mui-col-xs-12"><span>预审时间：</span>{{item.AppraisalTime}}</li>
									<li>
										<span>预审结果：</span><span class="exares">通过</span>
										<ul class="tlst">
											<li>可贷额度：{{item.ApproveBudget}}</li>
											<li>贷款期限：{{item.AppraisalYearLimit}}</li>
											<li>基准利率：{{item.AppraisalRate}}
												<!--<span class="fq">360期</span>--></li>
											<li>月 供：{{item.ApproveMonthPayment}}</li>
											<li><button class="mui-btn mui-btn-blue qrh">{{item.ApproveMonthPayment}}</button></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>

					</ul>

			</template>

				</div>
			</div>

		</div>

		<!--加载mui+vue js-->
		@@include('module/linkjs.html')

		<script src="/Scripts/base/PackagingFunction.js"></script>
		<script src="/Scripts/base/VarGlobal.js"></script>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					resume: null,
				},
				methods:{
					tbl:function(index){
						//tab切换
						var tbl = new LogregTab('body');
						tbl.init();
					}
				},
				created: function() {
					//setCookie("gpl_token", "GPBASIC 000");
					var self = this;
					mui.ajax({
						url: port_UserOnApply,
						type: 'get',
						dataType: 'json',
						headers: {
							"Authorization": getCookie("gpl_token"),
							'Content-Type': 'application/json'
						},
						data: {
							userid: 32,
							status: 40
						},
						success: function(data) {
							self.resume = data;
							//								console.log(getCookie("gpl_token"));
							console.log(self.resume);
						},
						error: function(e) {
							console.log(e);
						}
					})
				}

			})

			mui.ready(function() {
//				//tab切换
//				var tbl = new LogregTab('body');
//				tbl.init();

				//预审详情
				var yetbt = doc.querySelectorAll('.yet .status');
				for(var i = 0; i < yetbt.length; i++) {
					yetbt[i].addEventListener('tap', function() {
						if(hasClass(this, 'down')) {
							removeClass(this, 'down');
							removeClass(this.querySelector('.mui-icon'), 'mui-icon-arrowdown');
							addClass(this.querySelector('.mui-icon'), 'mui-icon-arrowup');
						} else {
							addClass(this, 'down');
							removeClass(this.querySelector('.mui-icon'), 'mui-icon-arrowup');
							addClass(this.querySelector('.mui-icon'), 'mui-icon-arrowdown');
						}
					})
				}

			})
		</script>
	</body>

</html>