<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的项目按揭记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/Content/css/mui-sass/sass/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/Content/css/recordload.css" />
	</head>

	<body>
		<div id="app">

			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon bleft" href="javascript:;">
					<i class="mui-icon mui-icon-arrowleft"></i>返回
				</a>

				<div class="obtn xycenter">
					<ul class="tab">
						<li class="on td" @click="tabs()">按揭中</li>
						<li class="td" @click="tabs()">已放款</li>
					</ul>
				</div>
			</header>

			<div class="mui-content">
				<div class="infor">

					<template v-if="resume != null">

						<!--<template v-for="item of value[1]">
		    							{{item}}<br/>
		    						</template>-->

						<!--(value, key) in resume.headline-->
						<ul class="wul tb active">
							<li v-for="item in resume.Data">
								<ul>
									<li>{{item.PropertyName + " + " + item.UserName}}</li>
									<li>建筑面积：{{item.BuildArea}}㎡</li>
									<li>贷款银行：{{item.BankName}}</li>
									<li>可贷额度：{{item.ApproveBudget}}</li>
									<li>贷款期限：{{item.AgencyTime}}</li>
									<li>按揭公司：{{item.MCName}}</li>
									<li>委托时间：{{item.AppraisalTime}}</li>
								</ul>
								<button class="status">
									<template v-if="item.Status==10">待预审</template>
									<template v-if="item.Status==20">已预审<i class="mui-icon mui-icon-arrowdown"></i></template>
									<template v-if="item.Status==30">按揭中</template>
									<template v-if="item.Status==40">按揭已完结</template>
									<template v-if="item.Status==21">预审未通过</template>
									<template v-if="item.Status==50">银行已办结</template>
								</button>
							</li>

						</ul>

						<ul class="wul tb">
							<li v-for="item in resume.Data">
								<ul>
									<li>{{item.PropertyName + " + " + item.UserName}}</li>
									<li>建筑面积：{{item.BuildArea}}㎡</li>
									<li>贷款银行：{{item.BankName}}</li>
									<li>可贷额度：{{item.ApproveBudget}}</li>
									<li>贷款期限：{{item.AgencyTime}}</li>
									<li>按揭公司：{{item.MCName}}</li>
									<li>委托时间：{{item.AppraisalTime}}</li>
								</ul>
								<button class="status">
									<template v-if="item.Status==10">待预审</template>
									<template v-if="item.Status==20">已预审<i class="mui-icon mui-icon-arrowdown"></i></template>
									<template v-if="item.Status==30">按揭中</template>
									<template v-if="item.Status==40">按揭已完结</template>
									<template v-if="item.Status==21">预审未通过</template>
									<template v-if="item.Status==50">银行已办结</template>
								</button>
							</li>
						</ul>

					</template>
				</div>

			</div>

		</div>

		<!--加载mui+vue js-->
		@@include('module/linkjs.html')

		<script src="/Scripts/base/PackagingFunction.js"></script>
		<script src="/Scripts/ComPonent/json2.js"></script>
		<script src="/Scripts/base/VarGlobal.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					resume: null,

				},
				methods:{
					tabs:function(){
						//tab切换
						var tbl = new LogregTab('body');
						tbl.init();
					}
				},
				created: function() {
					var self = this;
					mui.ajax({
						url: port_UserOnAgency,
						type: 'get',
						dataType: 'json', //服务器返回json格式数据?getCookie("gpl_token"):"GPBASIC 000"
						headers: {
							"Authorization": getCookie("gpl_token")
						},
						data: {
//							userid: 32,
							status: 40,
						},
						success: function(data) {
							self.resume = data;
							console.log(getCookie("gpl_token"));
							//								console.log(getCookie("gpl_token"));
						},
						error: function(e) {
							console.log(e);
						}
					})
				}

			})

			mui.ready(function() {
				//	   			tab切换
				var tbl = new LogregTab('body');
				tbl.init();

			})
		</script>
	</body>

</html>