//共用样式

//底部tab栏
.mui-bar-tab{
    .mui-tab-item{
        
        .mui-icon{
            background: url('/Images/daik/iconspring.png') no-repeat -2px -2px;
        }
        .icon-home{
            width: 26px;height: 22px;
            background-position-y:-25px;
        }
        
        .icon-infor{
            width: 24px;height: 21px;
            background-position-y:-47px;
        }
        
        .icon-gpw{
            width: 28px;height: 21px;
        }
        
         .icon-myd{
             width: 21px;height: 20px;
             background-position-y:-72px;
         }
        
        &.mui-active{
            .icon-home, .icon-infor,.icon-gpw,.icon-myd{background-position-x:-32px;}
        }
    }
    
}

//top顶部标签
.mui-bar-nav{border-bottom: 1px solid #f6f6f6;}
.mui-bar-nav{
     .mui-icon{
    font-size: 16px;
    color: #6e6e6e;
    }
    .mui-icon-arrowleft{
        font-size: 24px;position: relative;top:1px;
    }
    .bleft{
        padding: 2px 0;
    }
}

//边框小效果
span.qy{border: 1px solid #0075e5;border-radius: 5px;color: #0075e5;font-size: 13px;padding: 0 5px;}

//分期
.fq{font-size: 13px;color: #333333;border: 1px solid #333333;padding: 0 5px;border-radius: 10px;}

//iconspring

.iconspr{background: url('/Images/daik/iconspring.png') no-repeat -2px -2px;display: inline-block;position: relative;}


//底部弹出框
#sheet1{
    background: #fff;padding: 24px;
    p{line-height: 30px;font-size: 13px;}
    h3{font-size: 17px;color: #333333;padding-bottom: 10px;}
    span{color: #f39700;}
    span.qy{color: #0075e5;}
    .mui-btn{margin-top: 40px;display: block;height: 45px;line-height: 32px;width: 100%;}
}

//ios label
body.mui-ios{
    .mui-content{
         label{
            input{position: initial;width: auto;height: auto;float: right;display: none;}
        }
    }
    
}

//ios<8 position fixed
#app.ios .mui-bar-nav{
    position: absolute;
//  top:48px;
}
