// reset 
@import "reset.scss";


body{background: #123d71;}

.mui-bar-nav{height: 76px;background: #123d71;
    .tinput{margin-top: 28px;position: relative;
        input{
            padding: 0;height: 40px;line-height:40px;border-radius: 5px;padding-left: 32px;padding-right: 25px ;font-size: 14px;color: #333;
        }
        
        i{position: absolute;width: 15px;height: 15px;background: url('/LoanApp/dist/Images/daik/iconspring.png') no-repeat -62px -2px;}
        
        i.befor{
            background-position-y:-20px;left: 10px;top:11px;
        }
//      i.after{
//          background-position-y:-37px;right: 10px;top:12px;
//      }
       
    }
    .btnsearh{margin-top: 28px;height: 40px;line-height:40px;font-size: 15px;color: #fff;text-align: center;}
}

body .mui-content{
    padding-top: 94px;background: transparent;
}


.mui-content{
    input{width: auto;margin: 0;padding: 0;border: 0;font-size: 14px;height: 48px;line-height: 48px;background: transparent;}
}

.pace{background: #fff;margin: 10px;border-radius: 5px;margin-top: 0;padding-bottom: 40px;text-align: center;
    .mui-btn{
            width: 145px;height: 44px;margin-top: 56px;
            &.on{background: #0075e5;color: #fff;}
        }
}

// fyxxlist 房源信息列表
@import "daik/fyxxlist.scss";


