// reset 
@import "reset.scss";

// base 
@import "base.scss";


body{background: #f5f5f5;}
.mui-bar-nav{
    .obtn{overflow: hidden;text-align: center;border: 1px solid #2287e8;border-radius: 3px;
        li{float: left;line-height: 34px;width: 88px;font-size: 15px;color: #0075e5;background: #fff;
            &.on{background: #0075e5;color: #fff;}
        }
    }
}
@media (max-width:320px){
    .mui-bar-nav .obtn{width: 178px;}
}

.mui-content{background: #fff;
    .wul{margin: 0px 15px;font-size: 14px;color: #999999;line-height: 26px;
        >li{border-bottom: 1px solid #f4f4f4;padding: 20px 0 25px;position: relative;}
        ul li:first-child{font-size: 16px;color: #333333;}
        b{font-weight: normal;color: #333;}
    }
    .status{position: absolute;width: 100px;height: 34px;color: #0075e5;right: 0px;top:85px;text-align: center;line-height: 34px;border: 1px solid #0075e5;
        border-radius: 5px;
    }
    .infor{
        .tb{display: none;
            &.active{display: block;}
        }
    }
}
